.deps
.libs
.perf
.idea
cairo-*.*.*
manual-*.*.*
ChangeLog*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
config.cache
config.h
config.h.in
config.status
configure
configure.scan
conftest.c
conftest.err
conftest.i
doltcompile
doltlibtool
gtk-doc.make
libtool
releases
stamp-h
stamp-h1
stamp-h.in
compile_commands.json
*~
.*.sw?
*.la
*.lo
*.log
*.orig
*.rej
*-uninstalled.pc
.vimrc
gtk-doc.m4
/builddir
/test/pdiff/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/test/pdiff/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/test/pdiff/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/test/pdiff/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
/test/pdiff/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
/test/pdiff/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/test/pdiff/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
/test/pdiff/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
/test/pdiff/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
/test/pdiff/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/test/pdiff/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/test/pdiff/out/build/x64-Debug/VSInheritEnvironments.txt
/test/pdiff/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/test/pdiff/out/build/x64-Debug/CMakeCache.txt
/.vs
